<div class="container">
  <div class="row">
    <div class="ninecol">
      <h1>Wishful Thinking</h1>
    </div>
    <div class="threecol last">
      <em><%=h @topic.title %></em>
    </div>
  </div>
</div> <%# "container" %>

<div class="form">
  <div class="form_content">
    <% form_for ([@topic, @idea]) do |form| %>
    <fieldset>
      <legend>Neue Idee</legend>
      <div>
	<%= form.label :title, "Idee: " %>
	<%= form.text_field :title %>
      </div>
      <%= submit_tag "Idee anlegen", :class => "submit" %>
      </fieldset>
    <% end %>
  </div>
</div>
